body {
  margin: 0;
  font-family: "AppBar";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "AppBar";
}

@font-face {
  font-family: "AppBar";
  src: url(./assets/fonts/Gentium_Book_Plus/GentiumBookPlus-Bold.ttf);
  font-weight: bold;
}
/* .slick-next:before,
.slick-prev:before {
  content: "";
} */
